
.tableStyle {
  border-collapse: collapse;
  width: 80vw;
  max-width: 900px;
}

.tableStyle th {
  padding: 8px;
  text-align: left;
}

.tableStyle td {
  padding: 8px;
  text-align: left;
}

.tableStyle th {
  background-color: #f2f2f2;
}

.viewBtn {
  padding: 10px;
}
